.navbar{
    --bs-navbar-padding-x: 0;
    height: 5vw;
    padding: 0px;
}
.myntra-logo{
    /* padding-block: 0px; */
    padding-inline: 3vw;
}
.myntra-logo img{
    height: 3vw;
    width: auto;
}