@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

.navbar{
    --bs-navbar-padding-x: 0;
    height: 5vw;
    padding: 0px;
}
.myntra-logo{
    /* padding-block: 0px; */
    padding-inline: 3vw;
}
.myntra-logo img{
    height: 2.7vw;
    width: auto;
}
.Navbar_Items{
    margin-right: 0;
}
.Navbar_Items li{
    font-family: 'Poppins', sans-serif;
    font-weight:bolder;
    font-size:smaller;

}
